{% extends 'layout.html' %}

{% block nav %}
    {% include 'students/nav.html' %}
{% endblock %}

{% block content %}

<h1>Tutti i corsi</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Creatore</th>
            <th scope="col">Data Creazione</th>
            <th scope="col">Numero iscrizioni massime</th>
            <th scope="col">Disponibilità</th>
        </tr>
    </thead>
    <tbody>

        {% for course in courses %}
        <tr>
            <th scope="row">{{course.Course.c_name}}</th>
            <td>{{course.Course.description}}</td>
            <td>{{course.User.first_name}} {{course.User.last_name}}</td>
            <td>{{course.Course.creation_date}}</td>
            <td>{{course.Course.max_partecipants}}</td>

            <td><button type="button" class="btn btn-success">Iscriviti</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
