{% extends 'layout.html' %}

{% block content %}

<div id="alertPlaceholder"></div>

<h1>Tutti i corsi</h1>

{% for category, sublist in courses %}
<div class="accordion" id="accordionCourses">

    <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="heading{{category.id_category}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{category.id_category}}" aria-expanded="false" aria-controls="collapse{{category.id_category}}">
                <strong>{{category.c_name}}</strong>
            </button>
        </h2>
        <div id="collapse{{category.id_category}}" class="accordion-collapse collapse" aria-labelledby="heading{{category.id_category}}" data-bs-parent="#accordionExample">
            <div class="accordion-body container-fluid table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="d-flex"> 
                            <th class="col-2">Titolo</th>
                            <th class="col-3">Descrizione</th>
                            <th class="col-2">Creatore</th>
                            <th class="col-2">Data Creazione</th>
                            <th class="col-1">N. posti</th>
                            <th class="col-2">Disponibilità</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in sublist %}
                        <tr class="d-flex">
                            <th class="col-2">{{course.Course.c_name}}</th>
                            <td class="col-3 line-clamp pb-1">{{course.Course.description}}</td>
                            <td class="col-2">{{course.User.first_name}} {{course.User.last_name}}</td>
                            <td class="col-2">{{course.Course.creation_date}}</td>
                            <td class="col-1">{{course.Course.max_partecipants}}</td>
                            <td class="col-2" id="detailButton_{{course.Course.id_course}}">
                                <script>
                                    function subscribed(){
                                        $.ajax({
                                            type: "POST",
                                            dataType: 'text',
                                            url: "/student/is_subscribed/{{course.Course.id_course}}",
                                        }).done((response) => {
                                            if(response == 'ok'){
                                                $('#detailButton_{{course.Course.id_course}}').html(`
                                                <div class="d-grid gap-2">
                                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" onclick="info('{{course.Course.id_course}}')">
                                                        Iscritto
                                                        <i class="fa-solid fa-user-check"></i>
                                                    </button>
                                                </div>
                                                `)
                                            }else{
                                                $('#detailButton_{{course.Course.id_course}}').html(`
                                                    <div class="d-grid gap-2">
                                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" onclick="info('{{course.Course.id_course}}')">
                                                            Dettagli
                                                        </button>
                                                    </div>
                                                `)
                                            }
                                        });
                                    }

                                    window.onpaint = subscribed();
                                </script>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- MODALS -->
<div class="modal fade" id="modalPlaceholder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"><!-- title -->></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- modal body here -->
            </div>
            <div class="modal-footer" id="modalFooter">
                <!-- modal footer here -->
            </div>
        </div>
    </div>
</div>

<script>
    function info(id){
        $.ajax({
            type: "POST",
            url: "/student/description/"+id,
        }).done((response) => {
            let button = `<button type ="button" class="btn btn-success" onclick="subscribe(${id})">Iscriviti</button>`
            if(response.is_already_subscribed){
                button = ``
            }
            if(parseInt(response.subscription_number) >= response.course.max_partecipants){
                button = `<button type ="button" class="btn btn-danger" disabled>Iscrizioni al completo</button>`
            }

            var percentage = parseInt(response.subscription_number) / response.course.max_partecipants * 100

            $('#modalTitle').html(`
                <strong>${response.course.c_name}</strong>
            `)

            $('#modalBody').html(`
                <div class="row">
                    <h7><strong>Descrizione:</strong> ${response.course.description}</h7>
                </div>
                <div class="row">
                    <h7><strong>Professore:</strong> ${response.prof.first_name} ${response.prof.last_name}</h7>
                </div>
                <div class="row">
                    <h7><strong>Email:</strong> ${response.prof.email}</h7>
                </div>
                <div class="row">
                    <h7><strong>Iscritti:</strong> ${response.subscription_number}/${response.course.max_partecipants}</h7>
                </div>
            `)

            $('#modalFooter').html(`
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                ${button}
            `)

            $("#modalPlaceholder").modal("show");
        });
    }

    function subscribe(id){
        $.ajax({
            type: "POST",
            url: "/student/subscription/"+id,
        }).done((response) => {

            $('#alertPlaceholder').append(`
                <div class="alert alert-${response.type} alert-dismissible" id="sub-${id}" role="alert">
                    <div>${response.mess}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            `)

            $("#modalPlaceholder").modal("hide");

            $(`#detailButton_${id}`).html(`
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" onclick="info(${id})">
                    Iscritto
                    <i class="fa-solid fa-user-check"></i>
                </button>
            </div>
        `)
            
            $(`#sub-${id}`).fadeTo(2000, 500).slideUp(500, function(){
                $(`#sub-${id}`).alert('close');
            });
        });
    }
</script>

<style>
    .line-clamp {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
</style>

{% endblock content %}
