{% extends 'students/dashboard.html' %}

{% block modal %} 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{course.c_name}}</h5>
        </div>
        <div class="modal-body">
          <h7>Descrizione:{{course.description}}</h7>
        </div>
        <div class="modal-body">
          <h7>Professore: {{prof.first_name}} {{prof.last_name}}</h7>
        </div>
        <div class="modal-body">
          <h7>Email: {{prof.email}}</h7>
        </div>
        <div class="modal-body">
          <h7>Iscritti: {{subscription_number}}/{{course.max_partecipants}}</h7>
        </div>
        <div class="modal-footer">
          <a href="{{url_for('students.dashboard')}}" class="btn btn-secondary">Chiudi</a>
          <a href="{{url_for('students.subscription_to_course', id_course=course.id_course)}}" class="btn btn-primary">Iscriviti</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      console.log("Window is loaded")
      $("#exampleModal").modal("show")
    })
  </script>
  
{% endblock %}