{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('students.dashboard') }}">PCTO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% for item in nav.students %}
            <li class="nav-item">
              <a class="nav-link {{ 'active' if item.is_active else '' }}" aria-current="page" href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="navbar-nav">
          <a class="nav-link d-flex align-items-center" href="{{ url_for('students.profile') }}">
            {{current_user.first_name}} {{ current_user.last_name }} 
            <img src="{{ current_user.email | gravatar }}" class="rounded-circle ms-1" height="22" alt="Avatar" loading="lazy" />
          </a>
        </div>
      </div>
    </div>
</nav>

{% endblock %}