{% extends 'layout.html' %}

{% block content %}

    <h1>Corsi di {{ current_user.first_name }}</h1>

    <p id="noCourse">
    {% if not courses %}
        Sembra che tu non sia iscritto a nessun corso... <br>
        Clicca  <a href="{{ url_for('students.dashboard') }}">qui</a> per vedere tutti i corsi disponibili
    {% endif %}
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for course in courses %}
            <div class="col" id="course-{{course.id_course}}">
                <div class="card">
                    <h5 class="card-header">{{course.c_name}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{course.description}}</p>
                        <p class="card-text">{{course.creation_date}}</p>
                        <a href="{{ url_for('main.course_page',id = course.id_course) }}"><button class="btn btn-info">Info <i class="fa-solid fa-circle-info"></i></button></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" onclick="info('{{course.id_course}}')">
                            Cancella iscrizione
                        </button>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

    <div class="modal fade" id="modalPlaceholder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"><!-- title -->></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" id="modalFooter">
                <!-- modal footer here -->
            </div>
        </div>
    </div>
    </div>

    <script>
        function info(id){
            $('#modalTitle').html(`
                <strong>Cancellare iscrizione?</strong>
            `)

            $('#modalFooter').html(`
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type ="button" class="btn btn-danger" onclick="delete_subscription('${id}')">Cancella iscrizione</button>
            `)

            $("#modalPlaceholder").modal("show");
        }

        function delete_subscription(id){
            $.ajax({
                type: "POST",
                url: "/student/delete_subscription/"+id,
            }).done((response) => {
                $('#alertPlaceholder').append(`
                <div class="alert alert-${response.type} alert-dismissible" id="sub-${id}" role="alert">
                    <div>${response.mess}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                `)
                $(`#course-${id}`).remove()

                console.log(response.n_corsi)

                if(response.n_corsi == 0){
                    $("#noCourse").html(
                    `
                    Sembra che tu non sia iscritto a nessun corso... <br>
                    Clicca  <a href="{{ url_for('students.dashboard') }}">qui</a> per vedere tutti i corsi disponibili
                    `
                    );
                }

                $("#modalPlaceholder").modal("hide");

                $(`#sub-${id}`).fadeTo(2000, 500).slideUp(500, function(){
                    $(`#sub-${id}`).alert('close');
                });
            });
        }
    </script>

{% endblock content %}
