{% extends 'layout.html' %}

{% block content %}

    <div id="alertPlaceholder"></div>

    <h1>Corsi di {{ current_user.first_name }}</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">


        {% for course in courses %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{course.c_name}}</h5>
                        <p class="card-text">{{course.description}}</p>
                        <p class="card-text">{{course.creation_date}}</p>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" onclick="info('{{course.id_course}}')">
                            Cancella iscrizione
                        </button>

                    </div>
                </div>
            </div>
        
        {% endfor %}
        
    </div>

    <div class="modal fade" id="modalPlaceholder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"><!-- title -->></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" id="modalFooter">
                <!-- modal footer here -->
            </div>
        </div>
    </div>
    </div>

    <script>
     function info(id){
         let button = `<button type ="button" class="btn btn-danger" onclick="delete_subscription(${id})">Cancella iscrizione</button>`

         $('#modalTitle').html(`
                <strong>Sei sicuro di voler cancellare l'iscrizione?</strong>
         `)

         $('#modalFooter').html(`
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                ${button}
         `)

         $("#modalPlaceholder").modal("show");
     }

     function delete_subscription(id){
         $.ajax({
             type: "POST",
             url: "/student/delete_subscription/"+id,
         }).done((response) => {

             location.reload()

             $('#alertPlaceholder').append(`
                <div class="alert alert-${response.type} alert-dismissible" role="alert">
                   <div>${response.mess}</div>
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
             `)

             $("#modalPlaceholder").modal("hide");
         });
     }
    </script>

{% endblock content %}
