{% extends 'layout.html' %}

{% block nav %}
    {% include 'teachers/nav.html' %}
{% endblock %}


{% block content %}
    <script src="{{url_for('static', filename='course_description.js')}}"></script>
    <h2>{{course.c_name}}</h2>
    <div class = 'mb-3'>
        <div class="form-group" >
            <label for="exampleFormControlTextarea1">Description:</label>
            <div class ='form-group'id = "textboxArea"><textarea class="form-control" style="resize:none" id="descriptionBox" rows="3" disabled>{{course.description}}</textarea></div>
        </div>
        <p id = "updatePos"><button id = "updateRequest" onclick="makeEditable()">Aggiorna</button></p>
    </div>
{% endblock content%}
