{% extends 'layout.html' %}

{% block nav %}
    {% include 'teachers/nav.html' %}
{% endblock %}


{% block content %}
    <script src="{{url_for('static', filename='course_description.js')}}"></script>
    <div class = 'container'>
        <div class="form-group" >
            <label for="exampleFormControlTextarea1">Nome corso:</label>
            <div class ='form-group'><textarea class="form-control" style="resize:none" id="tittleBox" rows="1" disabled>{{course.c_name}}</textarea></div>
        </div>
        <p id = "updatePosTittle"><button id = "updateRequestTittle" onclick="makeEditable('{{course.id_course}}','tittleBox','updateRequestTittle','updatePosTittle' )">Aggiorna</button></p>
    </div>
    <div class = 'container'>
        <div class="form-group" >
            <label for="exampleFormControlTextarea1">Descrizione:</label>
            <div class ='form-group'><textarea class="form-control" style="resize:none" id="descriptionBox" rows="3" disabled>{{course.description}}</textarea></div>
        </div>
        <p id = "updatePosDescription"><button id = "updateRequestDescription" onclick="makeEditable('{{course.id_course}}','descriptionBox','updateRequestDescription','updatePosDescription')">Aggiorna</button></p>
    </div>
    <div class = 'container'>
        <h4>
            Min iscritti:
            <small class="text-muted">{{course.min_partecipants}}</small>
          </h4>       
    </div>
    <div class = 'container'>
        <h4>
            Max iscritti:
            <small class="text-muted">{{course.max_partecipants}}</small>
          </h4>          
    </div>
    <div class = 'container'>
        <h4>
            Categoria:
            <small class="text-muted">{{course.id_category}}</small>
          </h4>          
    </div>
    <div class = 'container'>
        <h4>
            Durata:
            <small class="text-muted">{{course.duration}}</small>
          </h4>          
    </div>
    <div class = 'container'>
        <h4>
            Data creazione:
            <small class="text-muted">{{course.creation_date}}</small>
          </h4>          
    </div>
{% endblock content%}
