{% extends 'layout.html' %}

{% block content %}
    <h3>Crea lezione:</h3>

    <div class ='mb-3' id = "single-form">
        <form action="{{url_for('teachers.newLesson', id_course = id_course)}}" method="post" novalidate>

            {{ form_base.hidden_tag() }}
            {{ form_single.hidden_tag() }}

            <div class="mb-3">
                {{ form_base.description.label(class="form-label") }}
                {{ form_base.description(class="form-control") }}
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-sm-3">
                        {{ form_single.date.label(class="form-label") }}
                        {{ form_single.date(class="form-control") }}
                    </div>
                    <div class="col-sm-1">
                        {{ form_single.time.label(class="form-label") }}
                        {{ form_single.time(class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {{ form_base.mode.label(class="form-label") }}
                {{ form_base.mode(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form_base.building.label(class="form-label") }}
                {{ form_base.building(class="form-control", id="select_building") }}
            </div>


            <div class="mb-3">
                {{ form_base.classroom.label(class="form-label") }}
                {{ form_base.classroom(class="form-control", id="select_classroom") }}
            </div>
            <div class="mb-3">
                {{ form_single.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <script>

        $('#select_building').change(() => {
            $.ajax({
                type: "POST",
                url: "/teacher/getClassrooms/"+$("#select_building").val(),
            }).done((response) => {
                console.log(response)
                $('#select_classroom').html(``)
                for(c in response){
                    console.log(c)
                    $('#select_classroom').append(`
                        <option value="${response[c].id_classroom}">${response[c].c_name}</option>
                    `)
                }
            })
        })
    </script>

{% endblock content %}
