{% extends 'layout.html' %}

{% block nav %}
    {% include 'teachers/nav.html' %}
{% endblock %}

{% block content %}

    <h1>Profilo di {{current_user.first_name}}</h1>

    <h2>Sono un professore</h2>

    <h4>Informazioni</h4>

    <div class="group">
        <span class="badge bg-info">Nome:</span> {{current_user.first_name}} <br>
        <span class="badge bg-info">Cognome:</span> {{current_user.last_name}} <br>
        <span class="badge bg-info">Data di nascita:</span> {{current_user.birth_date}} <br>
        <span class="badge bg-info">Email:</span> {{current_user.email}} <br>
    </div>
    

{% endblock content %}
