{% extends 'layout.html' %}

{% block nav %}
    {% if teacher %}
        {% include 'teachers/nav.html' %}
    {% else %}
        {% include 'students/nav.html' %}
    {% endif %}
{% endblock %}

{% block content %}

<div class ='mb-3'>
    <h3>Lezzioni per corso '{{course.c_name}}'</h3>
</div>

<div class = 'mb -3'>
    {% if no_lessons == true %}
        Non ci sono lezzioni per questo corso.
    {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="row">Data</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Aula</th>
                    <th scope="col">Modalità</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for element in lessons %}
                    <tr>
                        <th scope="row">{{element.Lesson.l_date}}</th>
                        <td>{{element.Lesson.description}}</td>
                        <td>{{element.Classroom.c_name}}</td>
                        <td>{{element.Lesson.mode}}</td>
                        {% if teacher %}
                            <td>
                                <a href=""><button class = 'btn btn-primary'>Aggiorna</button></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% if teacher %}
    <a href="{{ url_for('teachers.newLesson', id_course = course.id_course) }}"><button class="btn btn-primary" id = "lessonsButton">Aggiungi lezioni</button></a>
{% endif %}

{% endblock content %}