{% extends 'layout.html' %}

{% block cardHeader %}

<h3 class="card-header">Login</h3>

{% endblock %}


{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                    {{form.email(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
                    {{form.password(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <small>Non sei ancora registrato? <a href="{{ url_for('main.register') }}">Registrati</a></small><br>
    <small>Sono un professore <a href="{{ url_for('main.register') }}">Accedi</a></small>

{% endblock content %}
